<div class="page-header">
    <div class="container">
      <h1>All Class</h1>
    </div>
  </div>
  
  <div class="container">
    <div class="row end-xs mt-1">
      <div class="col-xs-12">
        <input type="text" class="searh-input" placeholder="Search students" [(ngModel)]="filterString"
          (keyup)="filterClasses()">
        <a routerLink="/class/add" mat-raised-button color="primary" class="ml-1">Add New Class</a>
      </div>
    </div>
  
  
    <div class="mt-1 mat-elevation-z8">
      <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortData($event)" class="">
        <ng-container matColumnDef="className">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.className}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <!-- Last Name Column -->
        <!-- Edit Column -->
        <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="['/class', element.id]">
              <mat-icon color="primary">edit</mat-icon>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div>
      <mat-paginator [length]="totalCount" 
      [pageSize]="classParams.pageSize" 
      [pageSizeOptions]="[5,10,25,100]"
      (page)="pageEvent = $event; onPaginateChange($event)" aria-label="Select page" z->
      </mat-paginator>
    </div>
    </div>
  </div>
  
