.card-login{
    height: 500px;
    /* width: 500px; */
    padding: 5px;
    margin: 5px;
    /* justify-content: center; */
    align-content: center;
  }
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;
  }
  
  mat-form-field {
    width: 100%;
  }