<div >
<mat-card class="card-login">
    <mat-card-header class="mx-auto my-3">
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <form [formGroup]="loginForm" class="mx-auto my-5" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="aaa@aa.com" formControlName="email" />
                </mat-form-field>
                <div
                    *ngIf="loginFormData.email.invalid && (loginFormData['email'].dirty || loginFormData['email'].touched)">
                    <mat-error *ngIf="loginFormData.email.errors?.['email']">This
                        email is not valid!</mat-error>
                    <mat-error *ngIf="loginFormData.email.errors?.['required'] ">This
                        field is required!</mat-error>
                </div>
            </div>
            <div class="mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput type="password" formControlName="password" />
                </mat-form-field>
                <div
                    *ngIf="loginFormData.password.invalid && (loginFormData.password.dirty || loginFormData.password.touched)">
                    <mat-error *ngIf="password?.hasError('required')">
                        Password is required
                      </mat-error>
                      <mat-error *ngIf="password?.hasError('passwordPattern') && !password?.errors?.['passwordPattern'].minLength">
                        Password must be at least 6 characters
                      </mat-error>
                      <mat-error *ngIf="password?.hasError('passwordPattern') && !password?.errors?.['passwordPattern'].hasUpperCase">
                        Password must have at least one uppercase letter
                      </mat-error>
                      <mat-error *ngIf="password?.hasError('passwordPattern') && !password?.errors?.['passwordPattern'].hasLowerCase">
                        Password must have at least one lowercase letter
                      </mat-error>
                      <mat-error *ngIf="password?.hasError('passwordPattern') && !password?.errors?.['passwordPattern'].hasNumeric">
                        Password must have at least one number
                      </mat-error>
                      <mat-error *ngIf="password?.hasError('passwordPattern') && !password?.errors?.['passwordPattern'].hasNonAlphanumeric">
                        Password must have at least one non-alphanumeric character
                      </mat-error>
                </div>
            </div>
        </mat-card-content>
        <div class="my-4 d-flex justify-content-center  ">
            <button mat-stroked-button color="primary" class="w-75">Login</button>
        </div>
    </form>
</mat-card>
</div>