<div class="page-header">
    <div class="container">
      <h1>{{header}}</h1>
    </div>
</div>
<div class="container" style="margin: 4px;">
    <div class="row top-row">
      <div class="col-xs-12 row end-xs">
        <a routerLink="/class-fee-list" color="primary" mat-raised-button>
          <mat-icon>chevron_left</mat-icon>
          Go Back
        </a>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form #classFeeDetailsForm="ngForm">
                <div class="row center-contain">
                    <div class="col-xs-12">
                      <div *ngIf="class$">
                        <ng-container  *ngIf="class$ | async as classList">
                            <mat-form-field appearance="outline">
                                <mat-label>Select Class</mat-label>
                            <mat-select required [(ngModel)]="classFee.classDetailId" name="ClassName">
                              <mat-option *ngFor="let item of classList" [value]="item.id">                  
                                {{item.className}}
                           </mat-option>
                         </mat-select>
                         <mat-error>Please select a Class Name</mat-error>
                        </mat-form-field>
                        </ng-container>
                      </div>
                      </div>
                </div>
                <div class="row center-contain">
                    <div class="col-xs-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Fee Amount</mat-label>
                          <input type="text" matInput [(ngModel)]="classFee.feeAmount" name="fee amount" required>
                          <mat-error>Fee amount is a required field</mat-error>
                        </mat-form-field>
                      </div>
                </div>
                <div class="row center-contain" >
                        <div class="col-xs-8 button-common" *ngIf="!isNewClass" >
                            <div>
                                <button mat-raised-button color="primary" (click)="onUpdate()">Save</button>
                            </div>
                           <div>
                                <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
                           </div>
                        </div>
                          <div class="col-xs-4" *ngIf="isNewClass">
                            <button mat-raised-button color="primary" (click)="onAdd()">Add</button>
                          </div>
                </div>
            
            </form> 
        </div>

    </div>
</div>    