.mat-mdc-button-base {
    margin-right: 1em;
  }
  mat-sidenav-container{
    height: calc(205vh-115vh);
  }
  mat-sidenav{
    width: 200px;
    background-color: darkmagenta;
  }
  .container{
    display: flex;
    margin: 2px;
    padding: 5px;
    gap: 3px; 
    align-items: center;
  } 
  .inline{
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 5px;
  }
  .space{
    flex: 50%;
  }
  
  


