<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span class="inline">
    <mat-icon>
      account_circle
    </mat-icon>
    Admin Panel
  </span>
    <div class="container">
      <button mat-button (click)="drawer.toggle()"> <mat-icon>menu</mat-icon> </button>
      <a routerLink="/" mat-fab color="accent">
        <mat-icon>home</mat-icon>
      </a>
      <div class="space"></div>
      <a mat-button> Services </a>
      <a mat-button> Project </a>
      <a mat-button> About </a>
      <a mat-button>Contract</a>
      <a mat-raised-button color="accent">Login</a>
      <a mat-raised-button color="accent">Signup</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container >
  <mat-drawer #drawer opened="true" mode="side"  position="start">
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="/dashboard" mat-button><mat-icon>dashboard</mat-icon> Dashboard</button>
    </mat-list-item>
      <mat-list-item>
        <button routerLink="/" mat-button><mat-icon>home</mat-icon> Home</button>
      </mat-list-item>
      
      <mat-list-item><button routerLink="/class" mat-button><mat-icon>list</mat-icon> All Classes</button></mat-list-item>
      <mat-list-item>
        <button routerLink="" mat-button><mat-icon>fee</mat-icon>Class Fees</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="" mat-button><mat-icon>list</mat-icon>All Teachers</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="" mat-button><mat-icon>book</mat-icon>Teachers Subject</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="" mat-button><mat-icon>list</mat-icon>Expense</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/students" mat-button><mat-icon>list</mat-icon>all Student</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="" mat-button><mat-icon>list</mat-icon>Student Attendance</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="" mat-button><mat-icon>list</mat-icon>Employee Attendance</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="" mat-button><mat-icon>list</mat-icon>Employee Details</button>
      </mat-list-item>
   </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center;min-height: 600px;">

      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

