<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span class="inline">
    <mat-icon>
      account_circle
    </mat-icon>
    Admin Panel
  </span>
    <div class="container">
      <button mat-button (click)="drawer.toggle()"> <mat-icon>menu</mat-icon> </button>
      <a routerLink="/" mat-fab color="accent">
        <mat-icon>home</mat-icon>
      </a>
      <div class="space"></div>
      <a mat-button> Services </a>
      <a mat-button> Project </a>
      <a mat-button> About </a>
      <a mat-button>Contract</a>
      <a mat-raised-button color="accent">Login</a>
      <a mat-raised-button color="accent">Signup</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container >
  <mat-drawer #drawer opened="true" mode="side"  position="start">
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="/" mat-fab color="accent">
          <mat-icon>home</mat-icon>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/students" mat-raised-button class="ml-1">Students</a>
      </mat-list-item>
      <mat-list-item>Class</mat-list-item>
      <mat-list-item>Class</mat-list-item>
      <mat-list-item>Class</mat-list-item>
   </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center;min-height: 600px;">

      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

