/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .page-header {
    background: #f1f1f1;
  }
  
  .page-header h1 {
    padding: 16px 0;
    margin: 0;
  }
  
  .ml-1 {
    margin-left: 1em !important;
  }
  
  .mt-1 {
    margin-top: 1em !important;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.searh-input {
  outline: none;
  border: 1px solid #CCC;
  padding: 8px 10px;
  border-radius: 3px;
}

.searh-input:active {
  border: 1px solid #BBB;
}

.searh-input:focus {
  border: 1px solid #AAA;
}